.parallax
  position: absolute
  z-index: -1
  +sm-block
    display: none
  &-1
    top: -12rem
    right: 90%
  &-2
    top: 35%
    left: 90%
  &-3
    right: 84%
    bottom: -10rem
  &-4
    top: -15rem
    right: 92%
  &-5
    bottom: 0
    left: 88%
  &-6
    top: 52%
    right: 88%
  &-7
    top: 15rem
    left: 70%
  &-8
    bottom: 3.5rem
    left: 88%
    z-index: -2
  &-9
    top: 45%
    right: 85%
  &-10
    top: 20rem
    left: 90%
  &-11
    bottom: -2rem
    left: 77%
  &-12
    bottom: -11rem
    right: 85%
  &-13
    top: 12rem
    right: 89%
  &-14
    bottom: 20rem
    right: 88%
  &-15
    bottom: 6rem
    left: 76%
  &-16
    bottom: 0
    right: 89%